<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  <!-- <% include create.ejs %> -->
<% include create %>
<br>
    <div id="wrapper">
      <h2>List of claims</h2>
        <div id="claimsList">
          <table>
          <!--
            This is where table is inserted by populateTable(); 
          -->
        </div>
    </div>
  </body>
</html>
