<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Create</title>
    <link rel='stylesheet' href='/stylesheets/create-custom.css' />
</head>
    <body>
    <% include templates/navbar %>
    <br>

    <div id="pagewrapper">

    <br>
        <div class="pageblock">
            <form id="createform">

                <div id="left-cols">
                    <strong>Claim Number:</strong><br>
                    <input class="form-control" id="claimnumber" type="text" name="claimnumber"><br><br>
                    First Name:<br>
                    <input class="form-control" id="firstname" type="text" name="firstname"><br><br>
                    Last Name:<br>
                    <input class="form-control" id="lastname" type="text" name="lastname"><br><br>
                    Email:<br>
                    <input class="form-control" id="email" type="text" name="email"><br><br>
                    Phone Number:<br>
                    <input class="form-control" id="phone" type="text" name="phone"><br><br>
                    Address:<br>
                    <input class="form-control" id="address" type="text" name="address"><br><br>
                </div>

                <div id="right-cols">
                    <br>
                    <input class="form-control" id="hidden-form" type="none" name="hidden"><br><br>
                    Date:<br>
                    <input class="form-control" id="date" type="text" name="date"><br><br>
                    Vehicle Make:<br>
                    <input class="form-control" id="make" type="text" name="make"><br><br>
                    Vehicle Model:<br>
                    <input class="form-control" id="model" type="text" name="model"><br><br>
                    Vehicle Identification Number (VIN):<br>
                    <input class="form-control" id="vin" type="text" name="vin"><br><br>
                    License Plate:<br>
                    <input class="form-control" id="plate" type="text" name="plate"><br><br>

                    <div class="btn btn-success btn-md" type="submit" value="Submit" id="submitBtn">Create</div>
                </div>

            </form>

            <div id="pictureGallery">
            <!--
                <input type="file" name="" id="browseBtn" value="Upload Pictures" />
                <progress value="0" max="100" id="uploadProgress">0%</progress>
                <div class="btn btn-success btn-md" id="uploadBtn">Upload</div>
            -->
            <div id="galleryTop">
                <div class="imgCell">
                    <div class="carImg">
                    </div>
                    <input type="file" name="file" id="file" class="inputfile" />
                    <label for="file">Upload Picture</label>
                </div>

                <div class="imgCell">
                    <div class="carImg">
                    </div>
                </div>

                <div class="imgCell">
                    <div class="carImg">
                    </div>
                </div>

                <div class="imgCell">
                    <div class="carImg">
                    </div>
                </div>
            </div>

            <div id="galleryBot">
                <div class="imgCell">
                    <div class="carImg">
                    </div>
                </div>

                <div class="imgCell">
                    <div class="carImg">
                    </div>
                </div>
                
                <div class="imgCell">
                    <div class="carImg">
                    </div>
                </div>

                <div class="imgCell">
                    <div class="carImg">
                    </div>
                </div>
            </div>
            </div>

        </div>

    </div>

    </body>

    <script src="javascripts/create-controller.js" type="text/javascript"></script>

</html>
