<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<br>


<div id="pagewrapper">
    <p id="test123"></p>

    <form id="createform">
        Claim Number:<br>
        <input id="claimnumber" type="text" name="claimnumber"><br>
        First Name:<br>
        <input id="firstname" type="text" name="firstname"><br>
        Last Name:<br>
        <input id="lastname" type="text" name="lastname"><br>
        Email:<br>
        <input id="email" type="text" name="email"><br>
        Date:<br>
        <input id="date" type="text" name="date"><br>
        <input type="submit" value="Submit" id="submitBtn">
    </form>

    <div id="tabletest">
      <h2>List of claims</h2>
        <div id="claimsList">
          <table>

            <thead>
                <th>Claim Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Date</th>
            </thead>

            <div id="insertTD">
            <tbody>
            <!--
              <% var one = "one"; %>
              <% for (var i = 0; i < 5; i++) { %>
                <tr>
                  <% for (var j = 0; j < 5; j++) { %>
                    <td><%= 3+1 %>, <%= j %></td>
                  <% } %>
                </tr>
              <% } %>
            -->
            </tbody>
            </div>
            
          </table>
        </div>
    </div>
</div>

</body>


<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCBLiQRYc7EX4iMgqnWTf3H4WFjF4DfXfw",
        authDomain: "usersite-11ad7.firebaseapp.com",
        databaseURL: "https://usersite-11ad7.firebaseio.com",
        storageBucket: "usersite-11ad7.appspot.com",
        messagingSenderId: "968441130185"
    };
    firebase.initializeApp(config);


</script>

<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="javascripts/createController.js" type="text/javascript"></script>

</html>
