<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Update</title>
    <link rel='stylesheet' href='/stylesheets/update-custom.css' />
</head>

<body>
<% include templates/navbar %>

<div class="custom-wrapper form-inline">
	<div class="center-buttons form-group">
	
		<input id="searchBar" type="text" class="form-control" placeholder="Search Claim Number">
	
	
		<button id="searchBtn" type="submit" class="btn btn-default">Search</button>
	<br>
		<a id="adv-search" href="#">Advanced Search</a>
	</div>
</div>



<br>

<div id="infoWrap">
	<div id="claimInfo">
			<div id="progress-bar">
				
					<div id="p20"></div>
					<div id="p20"></div>
				
			</div>

		    <form id="createform">

                <div id="left-cols">
                    <strong>Claim Number:</strong><br>
                    <input class="form-control" id="claimnumber" type="text" name="claimnumber"><br><br>
                    First Name / Last Name<br>
                    <input class="form-control" id="firstname" type="text" name="firstname"><br><br>
                    Email / Phone:<br>
                    <input class="form-control" id="email" type="text" name="email"><br><br>
                </div>

                <div id="right-cols">
                    <br>
                    <input class="form-control" id="hidden-form" type="none" name="hidden"><br><br>
                    Date:<br>
                    <input class="form-control" id="date" type="text" name="date"><br><br>
                    Vehicle Make / Model / License Plate:<br>
                    <input class="form-control" id="make" type="text" name="make"><br><br>

                    <div class="btn btn-success btn-md" type="submit" value="Submit" id="submitBtn">Update</div>
                </div>

            </form>	</div>
</div>

</body>
</html>
