

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle brand-custom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Claims Tracker <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="index">Home</a></li>
            <li><a href="create"> Create New Claim </a></li>
            <li><a href="update">Update Claim Status</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Edit Existing Claim</a></li>
            <li><a href="#">Advanced Search</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Anouncements</a></li>
            <li role="separator" class="divider"></li>
            <li id="logoutBtn"><a href="/register">Logout</a></li>
          </ul>
        </li>

        <li><a href="create">Create</a></li>
        <li><a href="update">Update</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Claim Number">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCBLiQRYc7EX4iMgqnWTf3H4WFjF4DfXfw",
        authDomain: "usersite-11ad7.firebaseapp.com",
        databaseURL: "https://usersite-11ad7.firebaseio.com",
        storageBucket: "usersite-11ad7.appspot.com",
        messagingSenderId: "968441130185"
    };
    firebase.initializeApp(config);
</script>

<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

<script src="javascripts/jquery-3.1.1.min.js" type="text/javascript"></script>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
<script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
<link rel='stylesheet' href='/stylesheets/navbar-custom.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="javascripts/navbar-controller.js" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location;
        $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
        $('ul.nav a').filter(function() {
             return this.href == url;
        }).parent().addClass('active');
    });
</script> 