.custom-wrapper
{
	width: 100%;
	/*min-height: 100%;*/  /* Fallback for browsers do NOT support vh unit */
	/*min-height: 100vh;*/
	display: flex;
	align-items: center;
	margin-top: 100px;
}

.center-buttons
{
	border: 1px solid black;
	text-align: center;
	/* width: 50%; */
	margin: auto;
}

#infoWrap
{
	width: 100%;
	/*min-height: 100%;*/  /* Fallback for browsers do NOT support vh unit */
	/*min-height: 100vh;*/
	display: flex;
	align-items: center;
	margin-top: 25px;
	border: 1px solid black;
}

#claimInfo
{
	text-align: center;
	border: 1px solid black;
	margin: auto;
	padding: 10px;
	width: 75%;
}

.adv-wrapper
{
	width: 100%;
	/*min-height: 100%;*/  /* Fallback for browsers do NOT support vh unit */
	/*min-height: 100vh;*/
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.center-adv
{
	/* width: 50%; */
	margin: auto;
}

#adv-search
{
	float: left;
}

#createform
{
	margin-top: 50px;
}

#left-cols
{
	text-align: left;
	display: inline-block;
	width: 45%;
	float: left;
	margin-right: 10px;
}

#right-cols
{
	text-align: left;
	display: inline-block;
	width: 45%;
	float: right;
	margin-left: 10px;
}

#hidden-form
{
	visibility: hidden;
}

#submitBtn
{
	float: right;
}

.uneditable
{

}

#progress-bar
{
	border: 2px solid black;
	height: 15px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	margin-top: 20px;
	border-radius: 20px;
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 20%, #474747 40%, #2b2b2b 60%, #1c1c1c 80%, #131313 100%);
	background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 20%, #474747 40%, #2b2b2b 60%, #1c1c1c 80%, #131313 100%);
	background: linear-gradient(to bottom, #4c4c4c 0%, #595959 20%, #474747 40%, #2b2b2b 60%, #1c1c1c 80%, #131313 100%);
}

#barwrapper
{

}

.pclass
{
	height: 100%;
	width: 20%;
}

#p20
{
	background-color: deepskyblue;
	color: black;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	visibility: hidden;
}

#p40
{
	background-color: deepskyblue;
	color: black;
	visibility: hidden;
}

#p60
{
	background-color: deepskyblue;
	color: black;
	visibility: hidden;
}

#p80
{
	background-color: deepskyblue;
	color: black;
	visibility: hidden;
}

#p100
{
	background-color: deepskyblue;
	color: black;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	visibility: hidden;
}
/**
#p20
{
	background: -moz-linear-gradient(left, #00047f 0%, #1f569e 100%);
	background: -webkit-linear-gradient(left, #00047f 0%, #1f569e 100%);
	background: linear-gradient(to right, #00047f 0%, #1f569e 100%);
	color: black;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#p40
{
	background: -moz-linear-gradient(left, #1f569e 0%, #3b5fcc 100%);
	background: -webkit-linear-gradient(left, #1f569e 0%, #3b5fcc 100%);
	background: linear-gradient(to right, #1f569e 0%, #3b5fcc 100%);
	color: black;
}

#p60
{
	background: -moz-linear-gradient(left, #3b5fcc 0%, #219dce 100%);
	background: -webkit-linear-gradient(left, #3b5fcc 0%, #219dce 100%);
	background: linear-gradient(to right, #3b5fcc 0%, #219dce 100%);
	color: black;
}

#p80
{
	background: -moz-linear-gradient(left, #219dce 0%, #26a6c9 100%);
	background: -webkit-linear-gradient(left, #219dce 0%, #26a6c9 100%);
	background: linear-gradient(to right, #219dce 0%, #26a6c9 100%);
	color: black;
}

#p100
{
	background: -moz-linear-gradient(left, #26a6c9 0%, #45ccd8 100%);
	background: -webkit-linear-gradient(left, #26a6c9 0%, #45ccd8 100%);
	background: linear-gradient(to right, #26a6c9 0%, #45ccd8 100%);
	color: black;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

*/

#p20:hover
{
	/* border: 1px black solid; */
	background-color: darkturquoise;
}

#p40:hover
{
	/* border: 1px black solid; */
	background-color: darkturquoise;
}

#p60:hover
{
	/* border: 1px black solid; */
	background-color: darkturquoise;
}

#p80:hover
{
	/* border: 1px black solid; */
	background-color: darkturquoise;
}

#p100:hover
{
	/* border: 1px black solid; */
	background-color: darkturquoise;
}

.toparrow
{
	width: 0; 
  	height: 0; 
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-bottom: 10px solid black;
  	margin-top: 40px;
  	margin-left: auto;
  	margin-right: auto;
}

.botarrow
{
	width: 0; 
  	height: 0; 
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-top: 10px solid black;
  	margin-top: -70px;
  	margin-left: auto;
  	margin-right: auto;
}

#a20
{
	visibility: hidden;
}

#a40
{
	visibility: hidden;
}

#a60
{
	visibility: hidden;
}

#a80
{
	visibility: hidden;
}

#a100
{
	visibility: hidden;
}